.slider {
    display: inline-block;
    width: 100px;
}

.gauge {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 40px;

    height: 350px;
}

.gauge-select {
    align-self: flex-start;
}

.gauge-view {
    width: 100%;
    height: 220px;

    border: 1px solid var(--Border-border-primary, #64748b);
    border-radius: var(--radius-sm-6, 6px);
}

.btn-gauge {
    display: inline-block;
    z-index: 99;
    width: 50px;
    height: 38px;

    border: 1px solid var(--formSeparatorColor);
}

.btn-gauge-mat {
    background: url("/assets/images/gauge-mat.png") no-repeat center center;
    background-size: 45px 30px;
}

.btn-gauge-donut {
    background: url("/assets/images/gauge-donut.png") no-repeat center center;
    background-size: 52px 28px;
}

.btn-gauge-zone {
    background: url("/assets/images/gauge-zone.png") no-repeat center center;
    background-size: 45px 30px;
}

.toolbox {
    width: 100%;
}

.toolbox-left {
    display: inline-block;
    width: 460px;
    padding-top: 10px;
}

.toolbox-right {
}

.slider-field span {
    max-width: 125px;
    padding-left: 2px;
    overflow: hidden;

    text-overflow: clip;
    white-space: nowrap;
}

.slider-field mat-slider {
    height: 30px;
}

::ng-deep .slider-field mat-slider .mat-slider-wrapper {
    top: 15px !important;
}

.field-row {
    display: flex;

    align-items: center;
    margin-bottom: 5px;

    column-gap: 16px;
}
