:host {
    .leftbar-item {
        display: flow-root;
        padding: 3px 0px 1px 0px;
    }

    .leftbar-item-active {
        background: var(--Link-standard-hover, rgba(255, 255, 255, 0.3));

        color: var(--toolboxItemActiveColor);
    }

    .leftbar-item span {
        float: left;
    }

    .leftbar-item .leftbar-item-type {
        padding-left: 4px;
        float: left;

        font-size: 16px;
        line-height: 20px;
    }

    .leftbar-item mat-icon {
        float: right;

        font-size: 18px;
    }

    .view-item-text {
        max-width: calc(100% - 54px);
        overflow: hidden;

        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .item-icon-view {
        color: var(--Link-filled, #158ba5);
    }

    .item-icon-cards {
        color: #f8a57c;
    }

    .item-icon-maps {
        color: #37be5f;
    }
}
