.field-row {
    display: block;
    margin-bottom: 5px;
}

.slider-field span {
    max-width: 125px;
    padding-left: 2px;
    overflow: hidden;

    text-overflow: clip;
    white-space: nowrap;
}

.slider-field mat-slider {
    height: 30px;
}

::ng-deep .mat-tab-label {
    height: 34px !important;
}

::ng-deep .mat-tab-body {
    padding: 24px 0;
}

::ng-deep .mat-tab-body-content {
    overflow: auto !important;
}

::ng-deep .mat-dialog-content {
    margin: 0 !important;
    padding: 0 !important;
}
