.header-panel {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 36px;

    border-bottom: 1px solid var(--headerBorder);

    background: var(--Surface-background, #121212);

    color: var(--headerColor);
    line-height: 36px;
    text-align: center;

    mat-icon {
        display: inline-block;

        vertical-align: text-top;
    }
}

.work-panel {
    position: absolute;
    top: 37px;
    right: 0px;
    bottom: 0px;
    left: 0px;

    background-color: var(--workPanelBackground);

    .container {
        display: flex;
        position: absolute;
        top: 0px;
        right:0px;
        bottom: 0px;
        left:0px;
        flex-direction: column;
        min-width: 300px;
    }

    .mat-table {
        overflow: auto;
        /* min-width: 1560px; */
    }
      
    .mat-row {
        height: 43px;
        min-height: 40px;
    }
    
    .mat-cell {
        font-size: 13px;
    }
    
    .mat-header-row {
        position: sticky;
        z-index: 1;
        top: 0;
    }
    
    
    .mat-header-cell {
        font-size: 15px;
    }
    
    .mat-column-select {
        flex: 0 0 100px;
        overflow: visible;
    }
    
    .mat-column-index {
        flex: 0 0 100px;
        overflow: visible;
    }
    
    .mat-column-name {
        flex: 0 0 200px;
    }
    
    .mat-column-description {
        flex: 2 1 250px;
    }
}

