:host {
    .container {
        min-width: 930px;
    }

    .mat-table {
        /* min-width: 1500px; */
        height: 100%;
        overflow: auto;

        background: var(--Surface-background, #121212);
    }

    .mat-header-cell.mat-sort-header-sorted {
        /* color: black; */
    }

    .mat-row {
        height: 34px;
        min-height: 34px;

        border-bottom-color: rgba(0, 0, 0, 0.06);
    }

    .mat-cell {
        font-size: 13px;
    }

    .mat-cell ::ng-deep .mat-checkbox-inner-container {
        width: 16px;
        height: 16px;
        margin-left: 2px;
    }

    .mat-header-row {
        position: sticky;
        z-index: 1;
        top: 0;
        /* background-color: rgba(0,0,0,0.7); */
        /* background-color: rgb(30, 30, 30); */
        /* color: white; */
    }
    .mat-header-cell {
        /* color: white; */
        font-size: 11px;
    }

    .mat-column-toogle {
        flex: 0 0 40px;
        overflow: visible;
    }

    .mat-column-name {
        flex: 0 0 220px;
    }

    .mat-column-address {
        flex: 0 0 330px;
    }

    .mat-column-device {
        flex: 0 0 220px;
    }

    .mat-column-select {
        flex: 0 0 40px;
    }

    .my-header-filter ::ng-deep .mat-sort-header-content {
        display: unset;

        text-align: left;
    }

    .my-header-filter ::ng-deep .mat-sort-header-button {
        display: block;
        margin-top: 5px;

        text-align: left;
    }

    .my-header-filter span {
        padding-left: 5px;
    }

    .my-header-filter ::ng-deep .mat-sort-header-arrow {
        /* color: white; */
        top: -14px;
        right: 20px;
    }

    .my-header-filter-input {
        display: block;
        margin-top: 4px;
        margin-bottom: 6px;
        /* color: white; */
        padding: var(--spacing-md-10, 10px) var(--spacing-sm, 8px)
            var(--spacing-md-10, 10px) var(--spacing-md-12, 12px);

        border: 0.5px solid var(--Border-border-primary, #64748b);

        border-radius: var(--radius-sm-6, 6px);

        background: var(--Surface-background, #121212);

        color: var(--formInputColor);
    }

    .my-header-filter-input:focus {
        padding: var(--spacing-md-10, 10px) var(--spacing-sm, 8px)
            var(--spacing-md-10, 10px) var(--spacing-md-12, 12px);

        border: 0.5px solid var(--Border-border-primary, #64748b);

        background: var(--Surface-background, #121212);
    }

    .mat-paginator {
        background-color: var(--Surface-background, #121212);
    }

    .mat-paginator ::ng-deep .mat-form-field-underline {
        display: none;
    }
}
