:host {
    /* ::ng-deep .customer-table .mat-table {
        background-color: transparent !important;
        overflow: auto;
        display: block;
    } */

    .toolbox-column {
        z-index: 1000;
        position: absolute;
        right: 27px;
        top: 96px;
    }

    .toolbox-column button {
        /* margin-right: 8px; */
        margin-left: 10px;
    }

    .toolbox-row {
        z-index: 1000;
        position: absolute;
        left: 0px;
        bottom: 0px;
    }

    .toolbox-row button {
        /* margin-right: 8px; */
        margin-left: 10px;
    }

    .data-table-header {
        min-height: 0px;
        /* background-color: darkgray; */
    }

    .column-options {
        margin-left: 10px;
    }

    .data-table-remove-row {
        max-width: 40px;
        min-width: 40px;
        width: 40px;
        height: 40px;
        padding-left: 0px;
        padding-right: 0px;
        margin-left: -24px;
    }

    .data-table-cell {
        white-space: nowrap;
        max-width: 100px;
        overflow: hidden;
        color: var(--Text-text-secondary, #E2E8F0);
        text-overflow: ellipsis;

        /* Label/large */
        font-family: var(--Font, "Noto Sans TC");
        font-size: var(--size-LabelL, 14px);
        font-style: normal;
        font-weight: var(--weight-LabelL, 500);
        line-height: var(--height-LabelL, 20px); /* 142.857% */
        letter-spacing: var(--spacing-LabelL, 0.1px);
    }

    .variable-input {
        display: block;
        margin-top: 10px;
    }

    .table-menu-item {
        font-size: 14px;
    }
}
::ng-deep .table-menu-item .mat-icon {
    font-size: 20px;
}