:host {
    .container {
        width: 700px;
    }

    .property-container {
        width: 300px;
    }

    .item-block {
        display: block;
        mat-select, input, span {
            width: calc(100% - 7px);
        }
    }

    .slider-field span {
        max-width: 125px;
        padding-left: 2px;
        overflow: hidden;

        text-overflow: clip;
        white-space: nowrap;
    }

    .slider-field mat-slider {
        height: 30px;
    }

    .toolbox {
        float: right;

        line-height: 44px;
    }

    .toolbox button {
        /* margin-right: 8px; */
        margin-left: 10px;
    }

    ::ng-deep .mat-tab-label {
        height: 34px !important;
    }

    .mat-tab-container {
        height: 60vmin;
        min-height:300px;
        padding-top: 15px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}
